body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper{
    background-color: white;
}
main{
    background-color: white !important;
    /* background-image: url("../images/blackbgwithpattern.png");
    background-repeat: no-repeat; */
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
p{
    margin:0px !important;
}
i.icon-black {
    color: black !important;
}
.brand-logo{
    margin-top: 1px !important;
    align-self: center;
}
.black-text{
    color:black !important;
}
.card{
    margin-top: px;
    width: 390px;
    max-width: 400px !important;
    /* left: 50% !important; */
    border: 0px !important;
}
.welcome{
    font-size: 24px;
    align-content: center !important;
}
.landing-options{
    align-content: center;
    line-height: 20px;
}
.page-footer{
    padding-top: 10px;
}
.footer-copyright{
    background-color: white !important;
    color:white;
    font-size: 8px;
}
.material-form{
    text-align: center !important;
    margin: 0px !important;
    /* padding: 10px !important; */
    background: white !important;
    max-width: 425px !important;
    min-width: 400px !important;
}
.search-options{
    padding: 0 15px 0 0;
    line-height: 2px;
}
.search-result-title{
    color:black;
}
.search{
    background-color: transparent;
}
.modal-content{
    padding:5px !important;
}
.carousel .carousel-item>img{
    max-width: 375px !important;
}
.carousel-slider{
    height: 450px !important;
}
.pulse::before{
    animation-iteration-count: 5 !important;
    }
.card-action{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.card-content{
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.materialize-textarea{
    margin-bottom: 0px !important;
}
.collapsible-body{
    padding-top: 5px !important;
}
.modal{
    /* width:  !important; */
<<<<<<< HEAD
    height: 33% !important;
=======
    height: 35% !important;
>>>>>>> 01a5ff62ff6b9810bccbb91c1045c6dfcf293047
}
.h4{
    margin:1px !important;
}
.h6{
    margin:1px !important;
}


